/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* forms */
.ada-aba-form-inputs {
  max-width: 800px;
  margin: 0px auto;
}

/* survey */

.ada-aba-survey-survey-question {
  margin-bottom: 1.5em;
  border: solid 1px #ccc;
  border-radius: 1em;
  padding: 1em;
}

.ada-aba-survey-survey-question-required .ada-aba-survey-survey-question-prompt p::after {
  color: red;
  content: " *";
}

.ada-aba-survey-survey-question-prompt p {
  margin: 0px 0px 0.75em 0px;
}

.ada-aba-survey-survey-question-no-description p:last-of-type,
.ada-aba-survey-survey-question-description p:last-of-type {
  margin-bottom: 0px;
}

.ada-aba-survey-survey-question label p {
  margin: 0px;
}

.ada-aba-survey-survey-question input[type=text],
.ada-aba-survey-survey-question textarea.ada-aba-one-line {
  border-width: 0px 0px 1px 0px;
}

.ada-aba-survey-survey-question textarea {
  resize: vertical;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica", sans-serif;
}

.ada-aba-survey-survey-question textarea.ada-aba-one-line {
  padding: 1em;
  height: 3em;
  resize: none;
  overflow: hidden;
}

.ada-aba-survey-survey-question input::placeholder,
.ada-aba-survey-survey-question textarea::placeholder {
  color: #ccc;
  font-style: italic;
}

.ada-aba-survey-survey-question-options {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
}

.ada-aba-survey-survey-option-other label {
  display: grid;
  grid-template-columns: auto 1fr;
}

.ada-aba-survey-survey-question-options input,
.ada-aba-survey-survey-question-options label {
  align-self: center;
}


.ada-aba-survey-survey-question-options input[type=radio],
.ada-aba-survey-survey-question-options input[type=checkbox] {
  transform: scale(1.5);
  margin: 0px;
  margin-left: 0.25em;
  height: 2.5em;
}

.ada-aba-survey-survey-option-other {
  display: flex;
  align-self: center;
  align-items: center;
}

.ada-aba-survey-survey-option-other input,
.ada-aba-survey-survey-option-other textarea {
  margin-left: 0.5em;
  line-height: 1em;
  padding: 0.5em;
}

.ada-aba-survey-survey-option-other label {
  white-space: nowrap;
}

.ada-aba-survey-error {
  color: red;
  font-style: italic;
}

/* registration form */

.ada-aba-registration-form .input-group{
  margin: 1em 0px;
}

.ada-aba-registration-form label {
  display: block;
  margin-bottom: 0.25em;
}

/* progress workflow */

.ada-aba-external-link {
  vertical-align: baseline;
}

.ada-aba-checkbox {
  line-height: 1em;;
  font-size: 1.5em;
  font-weight: bold;
}

.ada-aba-learner-id-table td:first-child {
  width: 1px;
  white-space: nowrap;
}

p.ada-aba-progress-fit-for-purpose {
  font-style: italic;
  font-size: 10pt;
}